# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# IDE / editor
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
